.highcharts-input-group,
.highcharts-button {
  display: none !important;
}
.highstok-wrap {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.highstok-wrap .highstok-nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #fff;
}
.highstok-wrap .highstok-nav .btn {
  border-radius: 0 !important;
}
.highstok-wrap .highstok-nav .btn-group .btn {
  margin: 0 2px;
  border-left: none;
  border-right: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid #ccc;
  color: #ccc;
  outline: none;
}
.highstok-wrap .highstok-nav .btn-group .btn:hover,
.highstok-wrap .highstok-nav .btn-group .btn.active {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  color: #221f1f;
  background: none;
  box-shadow: none;
}
